.cuerpo{ 
    background-color:rgba(167, 166, 80, 0.504);
    margin: 0;
}
.contenedor{
    background: rgb(247, 47, 47);
    height: 100vh;
    display: flex;        
    justify-content: center;
}
.contenedor_centrado{
    background:   rgb(238, 231, 231);
    width: 450px;       
    height: 700px;       
    border:3px solid rgb(165, 42, 42);
    border-radius:22px;
} 
.h1{
    text-align: center;
}
.h2{
    color: blue;
    text-align: center;
}
.parrafo{
    text-align: center;
}
.listado li{
    vertical-align: top;
    display: inline;
    font-size: 2em;
    padding: 0.5em;
}
.foto_jc{
    display: block;
    margin: 0px auto;
}