.cuerpo{ 
    background-color:rgba(167, 166, 80, 0.504);
    margin: 0;
}
/* 1 REM es igual a 16px*/
/*B: Nombre bloque, 
E:Nombre bloque__nombre elemento*/


.cabecera{
    padding: 0.5rem;
}

.contenedor{
    background-color: rgb(247, 47, 47);
    height: 100vh;
    display: flex;        
    justify-content: center;
}
.contenedor__div-centrado{
    background-color:   rgb(238, 231, 231);
    width: 450px;       
    height: 700px;       
    border:3px solid rgb(165, 42, 42);
    border-radius:22px;
} 
.h1{
    text-align: center;
    color:rgb(178, 34, 34);
    font-family:"Segoe IU", sans-serif;
}
.h2{
    color: blue;
    text-align: center;
}
.parrafo{
    text-align: center;
    font-family:"Segoe IU", sans-serif;
}
.listado li{
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    padding: 0.5em;
    list-style: none;
}

.cabecera__img-contenedor{
    width:150px;
    height:300px; 
}

.cabecera__img-foto{
    display: block;
    margin: 0px auto;
}